<div class="container">
  <div class="row">
    {{#each movies}}
      <div class="card m-2 p-0">
        <p class="card-header">{{this.attributes.title}}</p>
        <a href="/movies/{{this.id}}"><img
            class="card-img-bottom"
            id="img-movie"
            src="{{{this.attributes.image.url}}}"
            alt="img of a movie"
          /></a>
      </div>
    {{/each}}
  </div>
</div>