<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Hem</li>
      <li class="breadcrumb-item active" aria-current="page">Filmer</li>
      <div class="row">
        {{#each movies}}
        <div class="card m-2 p-0">
          <p class="card-header">{{this.attributes.title}}</p>
          <a href="/movies/{{this.id}}"><img class="card-img-bottom" id="img-movie"
              src="{{{this.attributes.image.url}}}" alt="img of a movie" /></a>
        </div>
        {{/each}}
      </div>
</div>