<div class="container-container-w-100 justify-content-center mt-3">
  {{! <h1 class="display-1">FAQ:</h1> CENTRERA COLLAPSEN!!}}
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="btn btn-lg" data-bs-toggle="collapse" href="#collapseOne">
          <h2 class="display-10">
            Ett tryggt biobesök
          </h2>
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          <ul>
            <li>Restriktionerna är borta men då spåren av pandemin finns kvar;
              Visar vi hänsyn och håller avstånd till varandra.
            </li>
            <li>Kört bil?- parkera med parkeringsappen och skriv in
              "bio-besökare" för 2h gratis parkering.
            </li>
            <li>Tänk på att göra bioupplevelsen trevlig för alla- använd inte
              starka parfymer, kom i tid och låt mobilen ligga kvar i fickan.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="btn btn-lg" data-bs-toggle="collapse" href="#collapseTwo">
          <h2 class="display-10">
            Godkända ID-handlingar</h2>
        </a>
    </div>
      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          Godkända ID-handlingar är svenskt pass, nationellt ID-kort, svenskt
          körtkort, Feja eID eller identitetskort för folkbokförda i Sverige. Vi
          godtar även utländska ID-kort från länder i Schengenområdet samt
          utländska EU-pass.
        </div>
      </div>
    </div>
 
  <div class="card">
    <div class="card-header">
      <a class="btn btn-lg" data-bs-toggle="collapse" href="#collapseThree">
        <h2 class="display-10">
          Biobesök barn</h2>
      </a>
    </div>
    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
      <div class="card-body">
        Åldersgränserna är rekommenderade åldrar. Vill man som vuxen (över 18
        år) ta med sitt barn på en föreställning med högre åldersgräns är det
        accepterat inom vissa gränser;
        <ul>
          <li>Barn under 7 år: Kan med målsman besöka filmer med rek. ålder tom
            7 år.</li>
          <li>Barn under 11 år: Kan med målsman besöka filmer med rek. ålder tom
            16 år.
          </li>
          <li>Åldersgräns från 18 år och högre: Enbart vuxna får besöka filmer
            med rek. ålder från 18 år. Det förkommer krav på uppvisande av
            godkända id-handlingar om oklarheter kring ålder uppstår.</li>
        </ul>
      </div>
    </div>
  </div>
</div>