<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kino2punktnoll</title>
<div class="container-container-w-100 bg-dark text-center bg-dark">
      <a href="#"><img src="/static/camera_logo.png" alt="image of a movie-camera" class="img-fluid w-50" /></a>
  </header>
</div>